@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "newakedemo";
  src: url("/fonts/newake/newake-demo-400-webfont.woff2") format("woff2"),
    url("/fonts/newake/newake-demo-400-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "newakedemo";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainScrollScreen {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      #fbcb50 0%,
      #fb6f50 7.81%,
      #fb50a2 17.19%,
      #cf50fb 28.13%,
      #7c50fb 38.54%,
      #5061fb 50.52%,
      #509ffb 59.37%,
      #50d2fb 67.19%,
      #50fbf1 75%,
      #50fba9 85.42%,
      #7cfb50 93.75%,
      #cafb50 100%
    );
}
.overlayPattern {
  background: url("/images/rectangle_pattern.png");
  position: relative;
  padding-top: 40px;
}
/* 
.bgShape1{
  background: url("../public/images/bgShape1.png") no-repeat;
  background-attachment: fixed;
  background-position-x: 200px;
} */

.screen5 {
  /* background: url("../public/images/bgGraphic2.svg") no-repeat; */
}

.slick {
  -webkit-transition: opacity 2000s ease-in-out;
  -moz-transition: opacity 2000s ease-in-out;
  -ms-transition: opacity 2000s ease-in-out;
  -o-transition: opacity 2000s ease-in-out;
  opacity: 1;
}
.slick2 .slick-slide:not(.slick-current) {
  opacity: 0.4;
}
.slick2 .slick-dots {
  bottom: -55px;
}
.slick2 .slick-dots li button:before {
  color: white;
}
.slick2 .slick-dots li button {
  color: white;
}
.slick2 .slick-dots li.slick-active button:before {
  color: white;
}
/* 
.slick-slide {
  margin: 0 15px;
}

/* the parent */
/* .slick-list {
  margin: 0 -15px;
}  */

.chat {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  text-align: center;
}

.chat .left-point {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 19px solid transparent;
  border-top: 23px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 4px;
  left: -26px;
  transform: rotate(90deg);
}

.marquee .overlay::before,
.marquee .overlay::after {
  background: none;
}

.timelineDesktop {
  background: url("/images/timelineDesktop.svg") no-repeat;
  height: 100%;
}

.fireBg {
  background-position: bottom center;
}
