@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg1: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #FBCB50 0%, #FB6F50 7.81%, #FB50A2 17.19%, #CF50FB 28.13%, #7C50FB 38.54%, #5061FB 50.52%, #509FFB 59.37%, #50D2FB 67.19%, #50FBF1 75%, #50FBA9 85.42%, #7CFB50 93.75%, #CAFB50 100%);
  --bg2: linear-gradient(180deg, #CA5E41 0%, #CA4B66 100%);
  --bg3: linear-gradient(180deg, #CA4C62 0%, #C84184 100%);
  --bg4: linear-gradient(180deg, #C84184 0%, #AC41BC 100%);
  --bg4: linear-gradient(180deg, #AD41BC 0%, #9441C4 100%);
}

@font-face {
  font-family: 'newakedemo';
  src: url('../public/fonts/newake/newake-demo-400-webfont.woff2') format('woff2'),
       url('../public/fonts/newake/newake-demo-400-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}



html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainScrollScreen{
  /* scroll-snap-type: y proximity;
  overflow-y: scroll; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #FBCB50 0%, #FB6F50 7.81%, #FB50A2 17.19%, #CF50FB 28.13%, #7C50FB 38.54%, #5061FB 50.52%, #509FFB 59.37%, #50D2FB 67.19%, #50FBF1 75%, #50FBA9 85.42%, #7CFB50 93.75%, #CAFB50 100%);
}
.overlayPattern{
  background: url('../public/images/rectangle_pattern.png');
  position: relative;

}
.chat{
  background: url("../public/images/chatBubble.png") no-repeat;
  background-size: 100% 100%;
}

/* 
.bgShape1{
  background: url("../public/images/bgShape1.png") no-repeat;
  background-attachment: fixed;
  background-position-x: 200px;
} */
